.logo{
    line-height: 32px;
    color: white;
    background-color: rgba(225, 225,225,0.3);
    font-size: 18px;
    margin: 10px;
    text-align: center;
}

.ant-layout-sider-dark {
    flex: 0 0 240px !important;
    max-width: 240px !important;
    min-width: 240px !important;
    width: 240px !important;
  }